body {
    background-color: #f8f8f8;
    padding: 20px;
}

.watch-list {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.watch-card {
    background: white;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    transition: 0.3s ease-in-out;
    height: 300px;
    box-shadow: 10px;
    margin: 0;
}

.watch-card:hover {
    border-color: red;
}

.watch-card img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;

}

.watch-card p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.price {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 5px;
}

.buy-btn {
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover {
    background-color: red;
    color: white;
}

.return {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: wheat;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
}

.title {
    border-bottom: 3px solid black;
    margin: 12px auto;
    width: 80%;
    font-size: 46px;
    padding-bottom: 12px;
}

